extends default

block content

  include templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])

      h3(class=['ui', 'header', 'blue'])= 'Bienvenidos al crud con Node js, Semantic, Express, Jade, Mysql, Jquery y Ajax'
  

