extends ../templates/default

block content
 
  h3= "Iniciar sesion"

   div(class='row')
    div(class='col-md-6 col-md-offset-3')
      
      if message.length > 0
        div(class='alert alert-success' role='alert')= message

      div(class='panel panel-default')
        div(class='panel-heading')= 'Iniciar Sesion'
        div(class='panel-body')
          form(action='http://localhost:3000/auth/signin' method='post' autocomplete='off')
            div(class='form-group')
              label(for="email")= 'Email'
              input(type='text' name='username' placeholder='Email' class='form-control')
            div(class='form-group')
              label(for="password")= 'Password'
              input(type='password' name='password' placeholder='Password' class='form-control')
            button(type="submit" class='btn btn-default')= 'Iniciar Sesion'
      
      if authmessage.length > 0
        div(class='alert alert-danger' role='alert')= authmessage