<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Formulario
    </div>
    <div class="panel-body">
      <form #form="ngForm">
        <div class="form-group">
          <label for="codigo">Código</label>
          <input type="text" class="form-control" id="codigo" placeholder="codigo" name="codigo" ngModel #codigo>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Nombre" name="nombre" ngModel #nombre="ngModel"
          required #spy>
          <div *ngIf="!nombre.valid && nombre.touched" class="alert alert-danger">El nombre es requerido</div>
        </div>
        <div ngModelGroup="contacto" #contacto="ngModelGroup">
          <div class="form-group">
            <label for="telefono">Telefono</label>
            <input type="text"  class="form-control" id="telefono" placeholder="Telefono" name="telefono" ngModel #telefono>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email" name="email" ngModel #email>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
     </div>
  </div>
</div>
Nombre: {{nombre.value}} <br>
Contacto: {{contacto.value | json}} <br>
Formulario: {{form.value | json}} <br>
{{spy.className}}

