a {
  color: #039be5;
}

div div {
  border-radius: 5px;
  background-color: #cccccc;
  height: 80px;
  border:2px solid #888888;
  width:120px;
  margin:10px;
  margin-top:60px ;
  float: left;
  padding: 10px;
}

h3 {
  position:fixed;
  top:80px;
  left:310px;
}



