nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")= 'Sistema de registro y autentificación node js'
    
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
        if !isAuthenticated
         li
          a(href="http://localhost:3000/auth/signup")= 'Registrarse'
         li
          a(href="http://localhost:3000/auth/signin")= 'Iniciar Sesion'
        if isAuthenticated
         li(class="dropdown")
          a(href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= user.nombre
            span(class="caret")
          ul(class="dropdown-menu")
            li
              a(href="http://localhost:3000/users/panel")= 'Perfil'
            li
              a(href="http://localhost:3000/auth/logout")= 'Cerrar Sesion'
    