extends ../default

block content

  include ../templates/nav

  div(class=['ui', 'container', 'grid', 'stackable'])
   div(class=['teen', 'wide', 'column'])

      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Actualizar producto'

      div(class='form-nuevoproducto')
        form(class=['ui', 'form'] action='http://localhost:3000/editar' method='post')
           div(class=['ui', 'field'])
            label(for='nombre')= 'Nombre del producto'
            input(type='text' name='nombre' value=producto[0].nombre)

           div(class=['ui', 'two', 'fields'])
              div(class=['ui', 'field'])
                label(for='precio')= 'Precio'
                input(type='text' name='precio' value=producto[0].precio)
              div(class=['ui', 'field'])
                label(for='Stock')= 'Stock'
                input(type='text' name='stock' value=producto[0].stock)
                input(type='text' hidden name='id_producto' value=producto[0].id_producto)
           button(class=['ui','button','basic','black'])='Actualizar producto'

           div(class=['ui', 'message', 'error'])
    
          
  script(src='javascripts/validacion.js')