
<div style="text-align:center">
  <h1>
    Welcome to {{name}} 
  </h1>
</div>
<div>
      {{mail}}
</div>
<p>
  <a href="{{web}}">Visita mi sitio web {{name}}</a>
</p>
<div>
   <button (click) ="showHobbies()">Ver los hobbies</button> 
</div>

<div *ngIf=verHobbies>
   <h3>Hobbies</h3>
   <ul>
     <li *ngFor="let hobby of hobbies">
        {{hobby}}
     </li>
   </ul>
</div>
<h2>Probando angular</h2>


<!--Cuando usamos "ng" son directivas de angular, como el ngFor o el ngIf y se les coloca el * del
lante-->